@font-face {
    font-family: "Rubik Regular";
    src: url('fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Rubik Normal";
    src: url('fonts/Rubik-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "Rubik Bold";
    src: url('fonts/Rubik-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Open Sans Regular";
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Open Sans Bold";
    src: url('fonts/OpenSans-Bold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    min-width: 320px;
    font-family: "Rubik Regular", sans-serif;
    overflow-x: hidden;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

:root {

    --dark: black;
    --success: #FDC13D;
    --text: #0E2F4B;
    --sab-text: #434455;
    --accent: #757575;
    --light: #f4f4fd;
    --modal-overlay: #2e2f42;
    --hero-background: #2e2f42;
    --white-background: #fff;
    --modal-background: #FEC524;
    --button-text: #99A2AA;
    --block-hover-bg-1: #ffcccc;
    --block-hover-bg-2: #ccffcc;
    --block-hover-bg-3: #ccccff;
    --block-hover-bg-4: #ffffcc;
    --block-hover-bg-5: #ffccff;
    --block-hover-bg-6: #ccffff;
    --background: #042C4B;
    --text-h: #F8F8F8;
}

.header-wrapper {
    position: relative;
    height: 15vh;
    background-color: var(--white-background);
    width: 100vw;
}

.top-header {
    height: 9vh;
    padding-left: 10.3vw;
}

.main-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2vh;
    width: 22vw;
    color: var(--button-text);
    font-family: "Rubik Regular", sans-serif;
}

.main-navbar-list {
    display: flex;
    font-size: 1em;
    transition: color 0.3s ease;
    margin-left: 10vw;
}

.main-navbar-list-item {
    margin-right: 2em;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.main-navbar-link {
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.main-navbar-link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--dark);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.main-navbar-link:hover {
    color: var(--success);
}

.main-navbar-link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header-wrapper .bottom-header.sticky {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
}

.tabpanel-content {
    height: 62vh;
    width: 100vw;
    background: var(--modal-background);
}

.container-item-content {
    display: flex;
    padding-top: 6vh;
    margin-left: 10vw;
    height: 30vh;
    width: 30vw;
    flex-direction: column;
    justify-items: start;
}

.container-item-content h1 {
    color: var(--white-background);
    font-family: "Rubik Bold", sans-serif;
    flex-direction: row;
    font-size: 2.9rem;
}

.container-item-content p {
    display: flex;
    color: var(--text);
    font-family: "Open Sans Regular", sans-serif;
    padding-top: 4vh;
}

.tracking-block {
    position: absolute;
    height: 25vh;
    width: 80vw;
    flex-direction: row;
    margin-left: 10vw;
    margin-top: 8vh;
}

.form-group {
    height: 8vh;
    width: 30vw;
    background: var(--white-background);
    justify-content: space-between;
    display: flex;
    border-radius: 0.4em;
}

.form-group {
    height: 9vh;
    width: 37.5vw;
    background: var(--white-background);
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 0.4em;
}

.form-group input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 0.4em;
    color: var(--accent);
    font-family: "Rubik Regular", sans-serif;
}

.block-item-button {
    margin-top: 6vh;
    height: 10vh;
    display: flex;
    justify-content: space-between;

}

.block-item {
    height: 10vh;
    width: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: var(--button-text);
    font-family: "Rubik Normal", sans-serif;
}

#findIconSvg, #ParcelIconSvg, #CalcIconSvg, #SubscribeIconSvg {
    margin-right: 1em;
}

.block-item-wrapper, .block-item-wrapper-parcel, .block-item-wrapper-find, .block-item-wrapper-subcribe {
    border-radius: 0.8vh;
    background: #FFF;
    box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);
}

.block-item:hover {
    border-radius: 0.8vh;
    box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);
    transition: color 0.3s ease, background-color 0.3s ease;
    color: var(--dark);
}

.col-xl-4 {
    margin-top: 5vh;
    height: 70vh;
    width: 25.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    margin-left: 10vw;
}

.postal-services-block {
    margin-top: 10vh;
    height: 90vh;
    display: flex;
}

.col-xl-8 {
    margin-left: 5vw;
    width: 50vw;
    height: 70vh;
    color: var(--text);
    font-family: "Rubik Bold", sans-serif;

}

.col-xl-4 h1 {
    justify-content: center;
    font-family: "Rubik Bold", sans-serif;
    font-size: 53px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.col-xl-4 p {
    margin-top: 4vh;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    display: flex;
}

.row {
    display: flex;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.svg-link-wrapper {
    margin-top: 1vh;
    margin-bottom: 5vh;
    width: calc(50% - 5px);
    height: 22.5vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}


.block-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

#smartbox1_main,
#documents,
#standart1_main,
#express_main,
#mizhnarodni1_main,
#import_main {
    transition: background-color 0.3s ease;

}

#smartbox1_main:hover {
    background-color: var(--block-hover-bg-1);
    border-radius: 2vh;
}

#documents:hover {
    background-color: var(--block-hover-bg-2);
    border-radius: 2vh;
}

#standart1_main:hover {
    background-color: var(--block-hover-bg-3);
    border-radius: 2vh;
}

#express_main:hover {
    background-color: var(--block-hover-bg-4);
    border-radius: 2vh;
}

#mizhnarodni1_main:hover {
    background-color: var(--block-hover-bg-5);
    border-radius: 2vh;
}

#import_main:hover {
    background-color: var(--block-hover-bg-6);
    border-radius: 2vh;
}

#express_main {
    padding-bottom: 4vh;
}

.header-wrapper {
    position: relative;
    height: 15vh;
    background-color: var(--white-background);
    width: 100vw;
}

.top-header {
    height: 9vh;
    padding-left: 10.3vw;
}

.main-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2vh;
    width: 22vw;
    color: var(--button-text);
    font-family: "Rubik Regular", sans-serif;
}

.main-navbar-list {
    display: flex;
    font-size: 1em;
    transition: color 0.3s ease;
    margin-left: 10vw;
}

.main-navbar-list-item {
    margin-right: 2em;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.main-navbar-link {
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.main-navbar-link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--dark);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.main-navbar-link:hover {
    color: var(--success);
}

.main-navbar-link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header-wrapper .bottom-header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.tabpanel-content {
    height: 62vh;
    width: 100vw;
    background: var(--modal-background);
}

.container-item-content {
    display: flex;
    padding-top: 6vh;
    margin-left: 10vw;
    height: 30vh;
    width: 30vw;
    flex-direction: column;
    justify-items: start;
}

.container-item-content h1 {
    color: var(--white-background);
    font-family: "Rubik Bold", sans-serif;
    flex-direction: row;
    font-size: 2.9rem;
}

.container-item-content p {
    display: flex;
    color: var(--text);
    font-family: "Open Sans Regular", sans-serif;
    padding-top: 4vh;
}

.tracking-block {
    position: absolute;
    height: 25vh;
    width: 80vw;
    flex-direction: row;
    margin-left: 10vw;
    margin-top: 8vh;
}


.form-group {
    justify-content: space-between;
    height: 9vh;
    width: 37.5vw;
    background: var(--white-background);
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 0.4em;
}

.form-group input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 0.4em;
    color: var(--accent);
    font-family: "Rubik Regular", sans-serif;
}

.block-item-button {
    margin-top: 6vh;
    height: 10vh;
    display: flex;
    justify-content: space-between;

}

.block-item {
    height: 10vh;
    width: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: var(--button-text);
    font-family: "Rubik Normal", sans-serif;
}

#findIconSvg, #ParcelIconSvg, #CalcIconSvg, #SubscribeIconSvg {
    margin-right: 1em;
}

.block-item-wrapper, .block-item-wrapper-parcel, .block-item-wrapper-find, .block-item-wrapper-subcribe {
    border-radius: 0.8vh;
    background: #FFF;
    box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);
}

.block-item:hover {
    border-radius: 0.8vh;
    box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);
    transition: color 0.3s ease, background-color 0.3s ease;
    color: var(--dark);
}

.col-xl-4 {
    margin-top: 5vh;
    height: 70vh;
    width: 25.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    margin-left: 10vw;
}

.postal-services-block {
    margin-top: 10vh;
    height: 90vh;
    display: flex;
}

.col-xl-8 {
    margin-left: 5vw;
    width: 50vw;
    height: 70vh;
    color: var(--text);
    font-family: "Rubik Bold", sans-serif;

}

.col-xl-4 h1 {
    justify-content: center;
    font-family: "Rubik Bold", sans-serif;
    font-size: 53px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.col-xl-4 p {
    margin-top: 4vh;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    display: flex;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.svg-link-wrapper {
    margin-top: 1vh;
    margin-bottom: 5vh;
    width: calc(50% - 5px);
    height: 22.5vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}


#smartbox1_main,
#documents,
#standart1_main,
#express_main,
#mizhnarodni1_main,
#import_main {
    transition: background-color 0.3s ease;
    border-radius: 2vh;
    overflow: hidden;
    cursor: pointer;
}


#smartbox1_main:hover {
    background-color: var(--block-hover-bg-1);
}

#documents:hover {
    background-color: var(--block-hover-bg-2);

}

#standart1_main:hover {
    background-color: var(--block-hover-bg-3);
    border-radius: 2vh;
}

#express_main:hover {
    background-color: var(--block-hover-bg-4);
    border-radius: 2vh;
}

#mizhnarodni1_main:hover {
    background-color: var(--block-hover-bg-5);
    border-radius: 2vh;
}

#import_main:hover {
    background-color: var(--block-hover-bg-6);
    border-radius: 2vh;
}

#express_main {
    padding-bottom: 4vh;
}

.export-code-block {
    margin-top: 10vh;
    height: 80vh;
    width: 100vw;
    background: var(--background);
}

.col-xl-7 {
    margin-top: 5vh;
    height: 70vh;
    width: 45vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10vw;
}

.col-xl-7 h2 {
    font-family: "Rubik Bold", sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    color: var(--text-h);
    margin-top: 10vh;
}

.col-xl-7 p {
    margin-bottom: 4vh;
    margin-top: 4vh;
    font-family: "Open Sans Regular", sans-serif;
    color: var(--button-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.col-md-6 {
    margin-top: 2vh;
    height: 10vh;
    width: 20.5vw;
    margin-left: 1vw;
    color: var(--text);
    justify-content: center;
    font-family: "Rubik Bold", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    background: var(--success);
    transition: background-color 0.3s ease;
}

.col-md-6:hover {
    background-color: #FEC524;
}

.extra-news-block {
    height: 100vh;
    width: 100vw;
    color: var(--text);
}

.slider-item-content-wrapper {
    height: 32vh;
    width: 82vw;
    background: var(--success);
    margin-left: 10vw;
    margin-top: 10vh;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slider-item-content-wrapper h4 {
    font-family: "Rubik Bold", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    margin-left: 4vw;
    margin-bottom: 1vh;
}

.slider-item-content-wrapper p {
    color: #0E2F4B;
    font-family: "Open Sans-Bold", sans-serif;
    font-size: 19.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.slider-item-content-wrapper .block-link {
    margin-right: 66.5vw;
    margin-top: 0.7vh;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.financial-services-block {
    width: 60vw;
    height: 58vh;
    margin-left: 10vw;
    margin-top: 20vh;
}

.f-s-b-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 7vh;

}

.col-xl-3 {
    flex: 1;
    transition: background-color 0.3s ease;
    margin-right: 1vw;
    border-radius: 1vh;
    cursor: pointer;
}


.square-service-svg {
    height: 35vh;
    font-family: "Rubik Bold", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1vw;
}

.financial-services-block h2 {
    font-family: "Rubik Regular", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

#money_main {
    padding-top: 2vh;
}

#mizhnarodni_main {
    padding-top: 2vh;
}

#insurance_main {
    padding-top: 2vh;
}

#money_main:hover {
    background-color: var(--block-hover-bg-3);

}

#mizhnarodni_main:hover {
    background-color: var(--block-hover-bg-4);
}

#insurance_main:hover {
    background-color: var(--block-hover-bg-5);
}

.zip-code-block {
    margin-top: 10vh;
    width: 100vw;
    height: 80vh;
    background: var(--text);
}

.col-xl-12 {
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vh;
    margin-left: 10vw;
}

.col-xl-12 h2 {
    color: var(--text-h);
    font-family: "Rubik Regular", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-top: 15vh;
}

.col-xl-12 p {
    margin-bottom: 10vh;
    margin-top: 5vh;
    color: var(--button-text);
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.form-row {
    display: flex;
}

.form-group {
    margin-right: 1vh;
}

#form-group {
    width: 29.5vw;
    height: 10vh;
}

.btn-orange {
    height: 10vh;
    width: 17.5vw;
    color: #0E2F4B;
    text-align: center;
    font-family: 'Rubik Regular', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    border: none;
    outline: none;
    border-radius: 0.4em;
    background: var(--success);
    transition: background-color 0.3s ease, color 0.3s ease;
}


.btn-orange:hover {
    background-color:var(--block-hover-bg-1);
    color: var(--sab-text);
}
